<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>PHP Stripe Sample-02-01</title>
<body>
<main>
    <div>
        <form action="./charge.php" method="post">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_51Hon4ZBW39Xux6Z3vr8p09ZnTe3ZLdpkrGMKBHMxN8fVBeW6juhUmRORQwgsj6WIfJHhKeiFaYYT7Xu2vRuu7E0200q5Z4trtZ"
                data-locale="ja"
                data-currency="JPY"
                data-amount="250"
                data-name="サービス購入代金のお支払い"
                data-label="クレジットカードで支払う"
                data-description="Online course about integrating Stripe"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-allow-remember-me="false"
            >
            </script>
        </form>
    </div>
</main>
</body>
</html>