.round-frame-profile{
    border-radius: 50%;
    width:  90px;
    height: 90px;
    object-fit:cover;
}

.round-frame{
    border-radius: 50%;
    width:  70px;
    height: 70px;
    object-fit:cover;
}

.round-frame-meaningful{
    border-radius: 8px;
}

.round-frame-event{
    width:  70px;
    height: 70px;
    object-fit:cover;
}

.round-frame-user-image{
    border-radius: 50%;
    width:  18px;
    height: 18px;
    object-fit:cover;
}

.round-frame-chat{
    border-radius: 50%;
    width:  20px;
    height: 20px;
    object-fit:cover;
}

.round-frame-account{
    border-radius: 50%;
    width:  30px;
    height: 30px;
    object-fit:cover;
}

.round-frame-info{
    width:  350px;
    height: 200px;
    object-fit:cover;
}

.round-frame-rank{
    border-radius: 10%;
    width:  85px;
    height: 85px;
    object-fit:cover;
}

.round-frame-event-day {
    border-radius: 5%;
    width:100px;
}

.round-frame-top-event {
    width:  100px;
    height: 100px;
    object-fit:cover;
}

.round-frame-rank-profile {
    border-radius: 50%;
    width:  50px;
    height: 50px;
    object-fit:cover;
}

.round-approval-table{
    border-radius: 5px;
    /* width:  350px;
    height: 200px; */
    padding:5px 10px 5px 10px
}

.div-border{
    border: 1px solid #259bd1;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 3px 3px 4px -2px black;
}

.div-border-event{
    border: 1px solid #259bd1;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 3px 3px 4px -2px black;
}

.view-cont-info {
    border: 1px solid #b9b9b9;
    border-radius: 5px;
}

.view-entry-ranking {
    border: 1px solid #b9b9b9;
    border-radius: 5px;
}

textarea {
	width: 100%;  /* 横幅 */
	height: 10em; /* 高さ */
}

.point-leader {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.point-leader-90 {
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.point-leader-100 {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.point-leader-150 {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.point-leader-line-specification-3 {
    width: 95%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin: 5px auto;
}
.width-10 { width: 10px; }
.width-30 { width: 30px; }
.width-50 { width: 50px; }
.width-80 { width: 80px; }
.width-100 { width: 100px; }
.width-110 { width: 110px; }
.width-130 { width: 130px; }
.width-100p { width: 130%; }
.width-80p { width: 80%; }
.width-50p { width: 50%; }
.width-30p { width: 30%; }

.height-10 { height: 10px; }
.height-30 { height: 30px; }
.height-50 { height: 50px; }
.height-80 { height: 80px; }

.font-size-5 {font-size: 5px;}
.font-size-6 {font-size: 6px;}
.font-size-7 {font-size: 7px;}
.font-size-8 {font-size: 8px;}
.font-size-9 {font-size: 9px;}
.font-size-10 {font-size: 10px;}
.font-size-11 {font-size: 11px;}
.font-size-12 {font-size: 12px;}
.font-size-13 {font-size: 13px;}
.font-size-14 {font-size: 14px;}
.font-size-15 {font-size: 15px;}
.font-size-20 {font-size: 20px;}
.font-size-25 {font-size: 25px;}
.font-size-30 {font-size: 30px;}

.font-color-white {color: white;}
.font-color-red {color: red;}
.font-color-dodgerblue {color: dodgerblue;}
.font-color-gray {color: gray;}

.font-weight-bold {font-weight: bold;}
.font-weight-lighter {font-weight: lighter;}
.font-weight-normal {font-weight: normal;}
.font-weight-100 {font-weight: 100;}
.font-weight-200 {font-weight: 200;}
.font-weight-300 {font-weight: 300;}
.font-weight-400 {font-weight: 400;}
.font-weight-500 {font-weight: 500;}
.font-weight-600 {font-weight: 600;}
.font-weight-700 {font-weight: 700;}
.font-weight-800 {font-weight: 800;}
.font-weight-900 {font-weight: 900;}

.background-color-lightcoral {background-color: lightcoral;}
.background-color-lightgreen {background-color: lightgreen;}
.background-color-lightslategray {background-color: lightslategray;}
.background-color-dodgerblue {background-color: dodgerblue;}

.clear-decoration {
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
}

#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 1;
}
      
#loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 1;
}

#main-title {
    padding: 80px 0px 40px 0px;
}

#main-title h1 {
    font-size: 50px;
}

#sub-title h2 {
    font-size: 20px;
}

#container h2 {
    margin: 50px 0px 10px 0px;
}

.top-table-span {
    margin-left: 10%;
}

.pagination {
    justify-content: center;
    margin-top: 15px;
}

.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.search-frame{
    position: relative;
    display: inline-block;
    width: 90%;
}
  
.search-frame .post-button{
    position: absolute;
    right: 2px;
    top: 6px;
    cursor: pointer;
    color: #3490dc;	
}

.clear-decoration {
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
}